<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <p class="jumbotron"> Login : <input type="text" v-model="user" /> | you are connected as {{user}} </p>
            </div>

            <h1 v-bind:class="forme">Product Hashtag</h1>
            <div class="btn-group" role="group" aria-label="Basic example">
                    <button class=" btn btn-secondary" v-for="product in products"
                        v-on:click="analyser(product)"> {{product}} </button>
                <canvas id="myChart"></canvas>
            </div>

            <h1 class="display-4" v-if="msg.length > 0"> Product Analysis</h1>
            <ul class="jumbotron">
                <li  v-for="ms in msg">{{ms}}</li>
            </ul>

            
        </div>
    </div>

    <script>


        var app = new Vue({
            el: '#app',
            data: {
                user: 'Mohamed',
                products: ["ps5", "xboxseries", "galaxyzfold2", "iphone11"],
                msg: [],
                commandes: [],
                forme: "display-4"
            },
            methods: {

                analyser(product) {

                    console.log(product)
                    const path = 'http://localhost:8080/analysisfeeling/' + product;
                    axios.get(path, {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                            crossdomain: true
                        }
                    })
                        .then((res) => {
                            this.msg = res.data.keys();
                            console.log(res)
                        })
                        .catch((error) => {
                            // eslint-disable-next-line
                            console.error(error);
                        });
                            const json = msg[0];
                            const obj = JSON.parse(json);


                            //
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'doughnut',

                            // The data for our dataset
                            data: {
                            labels: ['Positive', 'Negative', 'Neutral', 'Mixed'],
                            datasets: [{
                            data: [obj.Positive, obj.Negative, obj.Neutral, obj.Mixed ],
                            backgroundColor: ["#2ECC40", "#FF4136", "#C0C0C0", "#000000"] 
                            }]
                            },

                            // Configuration options go here
                            options: {
                                title: {
                                    text : obj.Hashtag
                                }

                            }
                            });

                                },

                            },
                            created() {
                                this.analyser();
                            },
                    
                },
                analyser_day() {
                    const path = 'http://localhost:8080/analysisfeelingday/' + this.products[0];
                    axios.get(path, {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                            crossdomain: true
                        }
                    })
                        .then((res) => {
                            this.msg = res.data;
                            console.log(res)
                        })
                        .catch((error) => {
                            // eslint-disable-next-line
                            console.error(error);
                        });
               
                    
            
        })
    </script>
</body>

</html>